body {
    margin: 0;
    padding: 0;
    background-image: url(../img/body-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

header, a[href="/smalltext"] {
    color: rgba(245, 130, 53, 0.836);
    margin: 2px 35px;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
}

section {
    width: 100%;
    height: auto;
}

article {
    width: 50%;
    height: auto;
    background-color: rgba(235, 235, 205, 0.7);
    margin: 0px 25%;
    padding: 20px 20px;
    border-radius: 2px;
}

h2 {
    text-align: center;
    color: rgb(41, 39, 39);
    font-size: 1.6rem;
    margin: 10px 10px;
}

form {
    margin: 2px 1%;
}

img {
    width: 33%;
    height: auto;
    margin: 10px 33%;
}

h3 {
    text-align: center;
    font-size: 1.9rem;
    color: rgb(41, 39, 39);
}

textarea {
    max-width: 99%;
    min-width: 99%;
    max-height: 150px;
    min-height: 150px;
    text-decoration: none;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
}

button[type="submit"] {
    color: white;
    padding: 10px 15px;
    background-color: rgb(52, 126, 9);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 2px 1px;
}

button[type="submit"]:hover {
    background-color: rgb(23, 73, 13);
    transition-duration: 2s all;
}

#limpiar {
    color: white;
    padding: 10px 15px;
    margin-right: -1%;
    background-color: #e08e1a;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.1rem;
    float: right;
    text-decoration: none;
}

#limpiar:hover {
    background-color: #8a5915;
}

#volver {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #e08e1a;
    border-radius: 3px;
    padding: 10px 10px;
    box-shadow: 3px 3px 2px #838080;
}

#volver:hover {
    background-color: #8a5915;
}

.messeger {
    width: 50%;
    height: auto;
    margin: 2px 27%;
}

table {
    padding: 5px 15px;
    color: rgb(41, 39, 39);
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(41, 39, 39);;
}

th {
    padding: 3px 10px;
}

th:hover {
    color: #e08e1a;
}

strong {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(7, 141, 41);
}

b {
    font-size: 0.9rem;
    color: rgb(173, 38, 20);
}

p {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #000;
}

address {
    text-align: center;
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px #000;
}

span {
    color: red;
    font-size: 1.2rem;
}

a[href="https://www.facebook.com/iban.pallano.3"] {
    color: rgb(70, 111, 165);
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    padding: 2px 5px;
    border-radius: 2px;
}

a[href="https://www.facebook.com/iban.pallano.3"]:hover {
    color: rgb(59, 143, 238);
}

a[href="https://www.facebook.com/iban.pallano.3"]:focus {
    color: rgb(161, 196, 228);
}

.facebook {
    width: 4px;
    height: 5px;
}

.text {
    color: rgba(22, 10, 10, 0.678);
    text-align: justify;
    font-size: 1.1rem;
}

/* Hacer el sitio web Responsive */

@media screen and (max-width: 1000px) {
    .messeger {
        margin: 2px 22%;
    }
}

@media screen and (max-width: 900px) {
    .messeger {
        margin: 2px 18%;
    }
}

@media screen and (max-width: 800px) {
    article {
        width: 80%;
        margin: 10% 5%;
    }

    .messeger {
        margin: 2px 23%;
    }
}

@media screen and (max-width: 550px) {
    .messeger {
        margin: 2px 13%;
    }
}

@media screen and (max-width: 450px) {
    .messeger {
        margin: 2px 7%;
    }
}

@media screen and (max-width: 400px) {
    .messeger {
        margin: 2px 2%;
    }
}

@media screen and (max-width: 350px) {
    article {
        margin: 10% 5%;
    }

    .messeger {
        margin: 2px 0%;
    }
}

@media screen and (max-width: 250px) {
    article {
        margin: 10% 2%;
    }
}

@media screen and (max-width: 247px) {
    button[type="submit"] {
        width: 100%;
        margin: 5px 0px;
    }

    button[type="reset"] {
        width: 100%;
    }
}

@media screen and (max-width: 220px) {
    article {
        margin: 35% 1%;
    }
}

@media screen and (max-width: 200px) {
    article {
        margin: 35% 0px;
    }
}